/*以下、１．背景色など*/
.line-bc {
    padding: 20px 10px;
    margin: 15px auto;
    background-color: #7da4cd;
    /*ここに文字を揃える方向を記述*/
    /*ここに文字の大きさを記述*/
    /*ここに背景の色を記述*/
  }

  .biz-udpgothic-regular {
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
  /*以下、２．左側のコメント*/
  .balloon6 {
    font-family: "BIZ UDPGothic", sans-serif;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }
  
  /*画像アイコン*/
  .balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
  }
  
  .balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  /*画像アイコンここまで*/

  .balloon6 .chatting {
    width: 95%;
    /*ここに文字を揃える方向を記述*/
  }

  /*相手側のコメント*/
  .says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; /*コメのとがり部分位置調整*/
    left: -19px;/*コメのとがり部分大きさ*/
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;/*←は左吹き出しの背景色と同じ*/
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .says p {
    display: inline-block;
    position: relative;
    margin: -1px 10px 0 -10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background-color: #edf1ee;
    font-size: small;
  }

   /*高木さん側のコメント連続*/
  .says_r {
    display: inline-block;
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
  }
  
  .says_r:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; /*コメのとがり部分位置調整*/
    left: -19px;/*コメのとがり部分大きさ*/
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;/*←は左吹き出しの背景色と同じ*/
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .says_r p {
    display: inline-block;
    position: relative;
    margin: -1px 10px 0 -10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background-color: #edf1ee;
    font-size: small;
  }
  
  /*以下、３．右側の緑コメント（西片側）*/
  .mycomment {
    margin: 10px 0;
    padding-left: 92%;
  }
  .mycomment p {
    font-family: "BIZ UDPGothic", sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 12px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
    background-color: #30e852;
    /*ここに文字の大きさを記述　左吹き出しのサイズよりほんの少し大きくするとよい*/
    font-size: small;
  }
  
  .mycomment p:after {
    content: "";
    position: absolute;
    top: -7px; /*コメのとがり部分位置調整*/
    right: -10px; /*コメのとがり部分大きさ*/
    border: 8px solid transparent;
    border-left: 18px solid #30e852;/*←は右吹き出しの背景色と同じ*/
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  /*西片側*/
   .mycomment2 {
    margin: 10px 0;
    padding-left: 88%;
  }
  .mycomment2 p {
    font-family: "BIZ UDPGothic", sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
    background-color: #30e852;
    /*ここに文字の大きさを記述　左吹き出しのサイズよりほんの少し大きくするとよい*/
    font-size: small;
  }
  
  .mycomment2 p:after {
    content: "";
    position: absolute;
    top: -7px; 
    right: -10px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;/*←は右吹き出しの背景色と同じ*/
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

   .mycomment3 {
    margin: 10px 0;
    padding-left: 93%;
  }
  .mycomment3 p {
    font-family: "BIZ UDPGothic", sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
    background-color: #30e852;
    /*ここに文字の大きさを記述　左吹き出しのサイズよりほんの少し大きくするとよい*/
    font-size: small;
  }
  
  .mycomment3 p:after {
    content: "";
    position: absolute;
    top: -7px; 
    right: -10px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;/*←は右吹き出しの背景色と同じ*/
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  .mycomment4 {
    margin: 10px 0;
    padding-left: 91%;
  }
  .mycomment4 p {
    font-family: "BIZ UDPGothic", sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    /*ここに吹き出しの背景色を記述*/
    background-color: #30e852;
    /*ここに文字の大きさを記述　左吹き出しのサイズよりほんの少し大きくするとよい*/
    font-size: small;
  }
  
  .mycomment4 p:after {
    content: "";
    position: absolute;
    top: -7px; 
    right: -10px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;/*←は右吹き出しの背景色と同じ*/
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }